<!DOCTYPE html>
<html>
<head>
	<title>Guess the number! </title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body ng-app="app">
	<div class="container" ng-controller="GuessTheNumberController">
		<h2>Guess the Number !</h2>
		<p class="well lead">Guess the computer generated random number between 1 and 10.</p>
		<label>Your Guess: </label><input type="number" ng-model="guess"/>
		<button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>	
		<button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>	
		<p>
			<p ng-show="deviation<0" class="alert alert-warning">Your guess is higher.</p>
			<p ng-show="deviation>0" class="alert alert-warning">Your guess is lower.</p>
			<p ng-show="deviation===0" class="alert alert-success">Yes! That"s it.</p>
		</p>
		<p class="text-info">No of guesses : <span class="badge">{{noOfTries}}</span><p>
	</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript">
				angular.module('app',[])
				.controller('GuessTheNumberController', GuessTheNumberController);
				function GuessTheNumberController($scope) {
					$scope.verifyGuess = function () {
						$scope.deviation = $scope.original - $scope.guess;
						$scope.noOfTries = $scope.noOfTries + 1;
					}
					$scope.initializeGame=function() {
						$scope.noOfTries = 0;
						$scope.original = Math.floor((Math.random() * 10) + 1);
						$scope.guess = null;
						$scope.deviation = null;
					}
					$scope.initializeGame();
				}
			</script>
	</body>
	</html>
	
	